{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css">
</head>

<body>
    <section class="Wrapper">

        <div class="form">
            <header>

                <div class="sign">Sign Up:</div>




            </header>

            <form action="#">



                <div class="main">



                    <input type="text" placeholder="Username" required class="box" />
                    <br>
                    <input type="text" placeholder="Email id" required class="box" />
                    <br>
                    <input type="Password" placeholder="Password" required class="box" />


                    <br>


                </div>

                <div class="checkbox">
                    <input type="checkbox" id="signupcheck">
                    <label for="signupcheck" id="cond">I accept all terms & conditions</label>



                </div>

                <div class="button">
                    <input type="submit" value="Sign Up" class="submit">
                </div>



            </form>
        </div>


    </section>
</body>

</html>
