{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>YouTube clone by Raj</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'video.css' %}">
    <link rel="stylesheet" href="{% static 'header.css' %}">
    <link rel="stylesheet" href="{% static 'general.css' %}">
    <link rel="stylesheet" href="{% static 'sidebar.css' %}">

    <style>

    </style>
</head>

<body>
    <div class="header">

        <div class="left-section">
            <img src="{% static 'icons/hamburger-menu.svg' %}" class="hamburger-menu">
            <img src="{% static 'icons/youtube-logo.svg' %}" class="youtube-logo">
        </div>

        <div class="middel-section">
            <input class="search-bar" type="text" placeholder="Search">
            <button class="search-button"><img src="{% static 'icons/search.svg' %}" class="search-icon"></button>
            <button class="voice-search"><img src="{% static 'icons/voice-search-icon.svg' %}" class="voice-search-icon"></button>
        </div>

        <div class="right-section">
            <img src="{% static 'icons/upload.svg' %}" class="upload">
            <img src="{% static 'icons/youtube-apps.svg' %}" class="apps">
            <div class="no-icon-container">
                <img src="{% static 'icons/notifications.svg' %}" class="notifications">
                <div class="notification-count">3</div>
            </div>
            <img src="{% static 'channeldp/raj.jpg' %}" class="dp">

        </div>

    </div>

    <div class="sidebar">
        <div class="sidebar-link">
            <img src="{% static 'icons/home.svg' %}" alt="">
            <div>Home</div>
        </div>

        <div class="sidebar-link">
            <img src="{% static 'icons/explore.svg' %}" alt="">
            <div>Explore</div>

        </div>

        <div class="sidebar-link">
            <img src="{% static 'icons/subscriptions.svg' %}" alt="">
            <div>Subscription</div>
        </div>

        <div class="sidebar-link">
            <img src="{% static 'icons/originals.svg' %}" alt="">
            <div>originals</div>
        </div>

        <div class="sidebar-link">
            <img src="{% static 'icons/youtube-music.svg' %}" alt="">
            <div>YouTube Music</div>
        </div>

        <div class="sidebar-link">
            <img src="{% static 'icons/library.svg' %}" alt="">
            <div>Library</div>
        </div>
    </div>

    <div class="vdo-grid">

        <!--1st vdo-->

        <div class="vdo-preview">

            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'thumbnails/mrbeast.jpg' %}">

                <div class="vdo-time">10:36</div>
            </div>

            <div class="vdo-info-grid">
                <div class="channel-picture"> <img class="pfp" src="{% static 'channeldp/mrbeast.jpg' %}">
                </div>

                <div class="vdo-info">

                    <p class="vdo-title">
                        Train Vs Giant Pit</p>
                    <p class="vdo-author"> MrBeast</p>
                    <p class="vdo-stats">
                        86M views &#183; 6 days ago</p>

                </div>

            </div>


        </div>
        <!--
        <!--2nd vdo-->

        <div class="vdo-preview">

            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'thumbnails/mkbhd.jpg' %}">

                <div class="vdo-time">12:33</div>
            </div>

            <div class="vdo-info-grid">
                <div class="channel-picture"> <img class="pfp" src="{% static 'channeldp/mkbhd.jpg' %}">
                </div>

                <div class="vdo-info">

                    <p class="vdo-title">
                        ios 17 Hands-On: Top 5 Features!</p>
                    <p class="vdo-author">Marques Brownlee</p>
                    <p class="vdo-stats">
                        3M views &#183; 2 days ago</p>

                </div>

            </div>

        </div>
        <!--3rd vdo-->


        <div class="vdo-preview">

            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'thumbnails/weeknd.jpg' %}">

                <div class="vdo-time">3:24</div>
            </div>

            <div class="vdo-info-grid">
                <div class="channel-picture"> <img class="pfp" src="{% static 'channeldp/weeknd.jpg' %}">
                </div>

                <div class="vdo-info">

                    <p class="vdo-title">
                        The Weeknd - Blinding Lights (Official Audio)
                    </p>
                    <p class="vdo-author">The Weeknd</p>
                    <p class="vdo-stats">
                        755M views &#183; 3 years ago</p>

                </div>

            </div>


        </div>
        <!--4th vdo-->

        <div class="vdo-preview">

            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'thumbnails/mrwhothum.jpg' %}">

                <div class="vdo-time">9:19</div>

            </div>

            <div class="vdo-info-grid">
                <div class="channel-picture"> <img class="pfp" src="{% static 'channeldp/mrwho.jpg' %}">
                </div>

                <div class="vdo-info">

                    <p class="vdo-title">
                        The Future of Smartphones with Google’s CEO</p>
                    <p class="vdo-author">Mrwhosetheboss</p>
                    <p class="vdo-stats">
                        5M views &#183; 2 months ago</p>

                </div>

            </div>


        </div>
        <!--5th vdo-->

        <div class="vdo-preview">

            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'thumbnails/spider.jpg' %}">

                <div class="vdo-time">1:33</div>

            </div>

            <div class="vdo-info-grid">
                <div class="channel-picture"> <img class="pfp" src="{% static 'channeldp/sony.jpg' %}">
                </div>

                <div class="vdo-info">

                    <p class="vdo-title">
                        Marvel's Spider-Man Remastered - PC Features Trailer I PC Games</p>
                    <p class="vdo-author"> PlayStation</p>
                    <p class="vdo-stats">
                        1.9m views &#183; 11 months ago</p>

                </div>

            </div>


        </div>
        <!--6th vdo-->

        <div class="vdo-preview">

            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'thumbnails/kk.jpg' %}">

                <div class="vdo-time">11:05</div>

            </div>

            <div class="vdo-info-grid">
                <div class="channel-picture"> <img class="pfp" src="{% static 'channeldp/kk.jpg' %}">
                </div>

                <div class="vdo-info">

                    <p class="vdo-title">
                        The Most Dangerous Weapon Is Not Nuclear</p>
                    <p class="vdo-author"> Kurzgesagt – In a Nutshell</p>
                    <p class="vdo-stats">
                        3.2M views &#183; 2 weeks ago</p>

                </div>

            </div>


        </div>

        <!--7th vdo-->
        -->

    </div>

</body>

</html>
