* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0faff;
  box-sizing: border-box;
}
.Wrapper {
  position: relative;
  max-width: 500px;
  height: 500px;
  width: 100%;
  
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 100%;
  padding: 20px 30px 120px;
  background-color: hwb(349 24% 0%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden500;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.sign {
  background-color: hwb(0 100% 0%);
  border-radius: 6px;
  border: none;
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 35px;
  margin-bottom: 25px;
}
.icon {
  display: flex;
  justify-content: baseline;
}
.box {                      
  padding: 6px;
  width: 300px;
  height: 35px;
  border-radius: 5px;
  border: 0.5px solid hwb(0 0% 0%);
  text-align: center;
}
.box:hover {
  box-shadow: 1px 1px 5px rgb(22, 18, 20);
  transition-delay: 0.2s;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: italic;
}
#cond {
  text-shadow: 1px 1px 10px rgb(24, 24, 29);
  margin-left: 5px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;

  background-color: rgb(255, 255, 255);
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: none;
  cursor: pointer;

  border-radius: 5px;
}
.submit:hover {
  background-color: hwb(214 16% 0%);
  border: 1px solid;
  border-color: rgb(74, 77, 249);
  box-shadow: 1px 1px 5px rgb(28, 25, 25);
  transition-delay: 0.3s;
  border-radius: 5px;
  color: white;
}
